.carousel img {
  opacity: 0.9;
}

.legend h3 {
  font-family: "Dancing Script", cursive;
}

.legend h1 {
  text-transform: uppercase;
}
li.slide.selected {
  max-height: 600px;
}

.carousel {
  max-width: 2400px;
  max-height: 600px;
  margin: 5px auto !important;
}
