html {
	font-size: 62.5%;
	overflow: hidden !important;
}
body {
	// background: $dark-blue;
	font-family: Helvitica, Arial, sans-serif;
	font-size: $m-size;
	margin-bottom: 3em;
}
button {
	cursor: pointer;
}
body,
html {
	overflow-y: scroll;
	overflow-x: hidden;

	position: fixed;
	height: 100%;
	width: 100%;
}

button:disabled {
	cursor: default;
}

.is-active {
	color: darken(grey, 20%) !important;
	text-decoration: underline !important;
}
// .carousel .slider-wrapper {
//   /*CSS transitions*/
//   transition: none;
//   transition-property: none !important;
//   /*CSS transforms*/
//   transform: none !important;
//   /*CSS animations*/
//   animation: none !important;
// }
